.About-text{
margin: 20px;
padding-left: 5rem;
padding-right: 5rem;
box-shadow: 200px;
font-size: 38px;
font-weight: 250;
border: 1px solid #777;
border-radius: 1rem;
box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .2);
background-color:rgb(200, 198, 198) ;
}

#Emilio{
    border-radius: 20rem;
    border: 1px solid #777;
    box-shadow: 200px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .2);
    height: 400px;
    width:auto;
}

.About-container{
font-size: 30px;
margin: 20px;
padding-left: 5rem;
padding-right: 5rem;

}