
.welcome-img-container {
  margin-top: 2rem;  margin-bottom: .5rem;
  background-image: url("../components/Images/Fill.jpg");
  background-repeat: no-repeat ;
  height: 600px;
  background-size: cover;
  background-position: center;
  width: auto;
}

h2.welcome-text {
  font-size: 50px;
  color: black;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media (min-width: 468px) {
  .img-container > img {
    margin-top: -375px;
  }
}