.Services-text{
    list-style-position: inside;
    columns: 3;
    text-align: center;
}
.Services-text ::marker{
    color:rgb(177, 18, 18);
}

.img-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 10px;
}

img {
    width: 600px;
    height: 400px;
}

